.AchievementClose {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  text-shadow: 0 1px 0 #fff !important;
  color: #444444 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  margin-left: 1rem;
}

.AchievementClose:hover {
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

.tab-content {
  background-color: rgba(255,255,255, .7);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.achievement-close-btn {
  flex-grow: 0;
}

.AchievementViewTabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 12px;
}

a.nav-item.nav-link.active {
  background-color: rgba(255,255,255, .8);
}

.nav-danger-item:hover {
  background-color: #ffc5c1 !important;
}

.AchievementView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.av-row {
  display: flex;
  flex-direction: row;
  height: 48px;
  width: 100%;

}

.av-row:hover{
  background-color: rgba(230,230,230, .7);
}

.av-row-item {
  margin-left: 5px;
  margin-right: 5px;
}

.av-repeatable-icon {
  display: flex;
  width: 24px;
  height: 100%;
  align-items: center;
}

.av-name {
  flex-grow: 0;
  width: 300px;
  align-items: center;
  justify-content: left;
  display: flex;
  line-height: 1.2;
}

.av-progress-text {
  width: 100px;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 0;
}

.av-progress-text-cur {
  display: flex;
  justify-content: right;
  flex-grow: 1;
  width: 100%;
}

.av-progress-text-max {
  display: flex;
  justify-content: left;
  flex-grow: 1;
  width: 100%;
}

.av-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}