.AchievementClose {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  text-shadow: 0 1px 0 #fff !important;
  color: #444444 !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.AchievementClose:hover {
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}