.AchievementSelector {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  flex-grow: 0;
  height: 100%;
  text-align: left;
  overflow-y: auto;
}

.achievement-list-item {
  display: flex;
  align-items: center;
}

.achievement-list-item:hover {
  background-color: rgba(230,230,230, .7);
  cursor: pointer;
}

.achievement-list-icon {
  width: 1.6rem;
  height: 1.6rem;
  flex-shrink: 0;
}

.achievement-list-icon img {
  width: inherit;
  height: inherit;
}

.selector-tree-child {
  margin-left: 1.5rem;
  margin-top: 5px;
  font-size: 90%;
}

.selector-tree-item {
  /* unused at the moment */
}

.selector-tree-item:hover {
  background-color: rgba(230,230,230, .2);
}

.selector-achievement {
  display: flex;
  justify-content: space-between;
}

.selector-achievement img {
  height: 24px;
  width: 24px;
}

.selector-achievement-complete {
  background-color: #d4edda;
  color: #155724
}